.client__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.client__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid#AFB1B8;
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }
}

.client__icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .client__link:hover &,
  .client__link:focus & {
    fill: var(--accent-color);
  }
}
