.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}

.footer__conteiner {
  display: flex;
}

.address {
  margin-top: 20px;
}

.address__list :not(:last-child) {
  margin-bottom: 9px;
}

.address__map {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer__social {
  margin-top: 12px;
  margin-left: 70px;
}

.footer-text-action {
  font-family: var(--main-font);
  font-weight: var(--main-weight);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ffffff;
}

.address__mail,
.address__tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__form {
  margin-top: 12px;
  margin-left: 93px;
}

.form__imput {
  width: 358px;
  height: 50px;
  color: #ffffff;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;

  &::placeholder {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}

.form__btn {
  font-family: var(--main-font);
  font-weight: var(--main-weight);
  font-size: 16px;
  line-height: 1.87;
  display: inline-flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 28px;
  margin-left: 12px;
  border: none;
  cursor: pointer;
}

.form__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
