.header {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
}

.burger-btn {
  background-color: inherit;
  border: none;
  padding: 0;
  line-height: 0;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &__icon {
    width: 40px;
    height: 40px;
  }

  &__icon:hover {
    fill: var(--accent-color);
  }
}

.mobile-menu {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  &__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: inherit;
    border: none;
    padding: 0;
    line-height: 0;
  }

  &__close-icon {
    width: 40px;
    height: 40px;
    fill: var(--main-color);
  }

  &__close-icon:hover {
    fill: var(--accent-color);
  }
}

.mobile-menu__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 100%;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  padding-right: 40px;
}

.nav-menu {
  margin-bottom: auto;
}

.nav-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.nav-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--main-color);

  &:hover,
  &:active,
  &:focus {
    color: var(--accent-color);
  }

  &--current {
    color: var(--accent-color);
  }
}

.burger-contact {
  margin-bottom: 64px;
}

.burger-contact__item:not(:last-child) {
  margin-bottom: 32px;
}

.burger-contact__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.burger-contact__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: var(--second-color);
}

.burger-social {
  display: flex;
}

.burger-social__item:not(:last-child) {
  margin-right: 20px;
}

.burger-social__link {
  position: relative;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.burger-social__link--after::after {
  position: absolute;
  display: block;
  top: 0;
  right: -10px;
  content: '';
  width: 0;
  height: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

// 0 - 767
@media screen and (max-width: 767px) {
  .header__container {
    justify-content: space-between;
  }

  .main-nav__list {
    display: none;
  }
  .contact {
    display: none;
  }
}

// 768+
@media screen and (min-width: 768px) {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .main-nav {
    display: flex;
    align-items: center;
  }

  .main-nav__list {
    display: flex;
    align-items: center;
    margin-left: 88px;
  }

  .main-nav__item:not(:last-child) {
    margin-right: 50px;
  }

  .main-nav__link {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &--current {
      color: var(--accent-color);
    }

    &.main-nav__link--current::after {
      background: var(--accent-color);
    }

    &::after {
      position: absolute;
      display: block;
      bottom: -36px;
      left: 0;
      content: '';
      width: 100%;
      height: 4px;
      background: inherit;
      border-radius: 2px;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover,
    &:active,
    &:focus {
      color: var(--accent-color);
      fill: var(--accent-color);
    }

    &:hover::after,
    &:focus::after {
      display: block;
      content: '';
      height: 4px;
      background: var(--accent-color);
      border-radius: 2px;
      margin-top: 28px;
    }
  }

  .burger-btn {
    display: none;
  }

  .contact {
    margin-left: auto;
  }

  .contact__item:not(:last-child) {
    margin-bottom: 10px;
  }

  .contact__icon-mail {
    width: 14px;
    height: 10px;
    fill: var(--second-color);
    margin-right: 8px;

    .contact__mail:hover &,
    .contact__mail:focus & {
      color: var(--accent-color);
      fill: var(--accent-color);
    }
  }
  .contact__icon-tel {
    width: 10px;
    height: 14px;
    fill: var(--second-color);
    margin-right: 8px;

    .contact__tel:hover &,
    .contact__tel:focus & {
      color: var(--accent-color);
      fill: var(--accent-color);
    }
  }

  .contact__mail {
    justify-content: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--second-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
      fill: var(--accent-color);
    }
  }

  .contact__tel {
    justify-content: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--second-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
      fill: var(--accent-color);
    }
  }
}

// 1200+
@media screen and(min-width:1200px) {
  .header {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .main-nav__list {
    margin-left: 93px;
  }

  .main-nav__item:not(:last-child) {
    margin-right: 50px;
  }

  .main-nav__link::after {
    bottom: -31px;
  }

  .contact {
    display: flex;
    align-items: center;
  }

  .contact__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }

  .contact__icon-mail {
    width: 16px;
    height: 12px;
    margin-right: 10px;
  }
  .contact__icon-tel {
    width: 10px;
    height: 16px;
    margin-right: 10px;
  }

  .contact__mail {
    font-size: 14px;
    line-height: 1.14;
  }

  .contact__tel {
    font-size: 14px;
    line-height: 1.14;
  }
}
