.logo {
  font-family: var(--second-font);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);

  &--theme--white {
    color: #000000;
  }

  &--theme--dark {
    color: #ffffff;
  }
}
